.scale-up{
  &:hover{
    transform: scale(1.05);
    z-index: 1;
    transition: all 0.2s ease-in;
  }
}
.lawyer-card__scale-image{
  &:hover{
    img{
      transform: translateY(-5px);
      transition: all 0.2s ease-in;
    }
  }
}
.letter-space-1{
  letter-spacing: 1px;
}
.line-height-md{
  line-height: 1.8rem;
}
.break-word{
  word-break: break-word;
}
.dropdown-scroll{
  max-height: 350px;
  overflow-y: auto;
}
.header-link{
  text-decoration: none;
  color: $text-muted;
  position: relative;
  padding: 15px 20px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  &:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    right: 0;
    background-color: $primary;
    transition: all 0.3s ease-in;
  }
  &:hover {
    color: $dark;
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: $primary;
      transition: all 0.3s ease-in;
    }
  }
  &.active{
    color: $dark;
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: $primary;
      transition: all 0.3s ease-in;
    }
  }
}

